<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Gerbil Spec Runner</title>
    <%= stylesheet_link_tag "gerbil/rails" %>
    <%= javascript_include_tag "gerbil/rails" %>
    <%= javascript_include_tag "spec" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  </body>
</html>
