<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>⌛ spec sunner</title>
    <%= stylesheet_link_tag "gerbil/rails" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="reload">
      <label for="reload">
        <%= check_box_tag "reload", true, checked: true %>
        Reload this page every 30 seconds?
      </label>
    </div>
    <div id="results"></div>
    <%= javascript_include_tag "gerbil/rails" %>
  </body>
</html>
